/* ------------------------------------------------------------ *\
	Banner
\* ------------------------------------------------------------ */

.banner {
	width: 429px; 
	max-width: 100%; 
	padding-top: 95px; 
	margin: 0 auto; 

	@include breakpoint-down(tablet) {
		padding-top: 45px; 
	}

	@include breakpoint-down(mobile) {
		padding-top: 25px; 
	}
	
	.banner__image {
		margin-bottom: 15px; 
	}

	.banner__content {
		text-align: center; 
	}

	.banner__content h4 {
		margin-bottom: 5px; 
		font-size: 20px; 
		font-weight: 500; 
		font-family: $ff-titles; 
		color: #618BBA;
	}
}

.main--profile .banner {
	padding-top: 0px; 
	width: 490px; 

	.banner__image {
		margin-bottom: 22px; 
		padding-left: 0; 
		padding-right: 0; 
	}
}
