/* ------------------------------------------------------------ *\
  Boxes
\* ------------------------------------------------------------ */

.boxes {
  margin: 38px 0; 

  > ul {
    display: flex; 
    margin: -17px; 
    list-style: none; 
  }

  > ul > li {
    width: 33.3334%; 
    padding: 17px; 
  }
}
