/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 42px;
	padding: 0 29px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	appearance: none;
	letter-spacing: 0;
	color: $c-white;
	text-transform: uppercase;
	border-width: 4px;
	border-style: solid;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.2;
	font-family: $ff-titles;
	border-radius: 11px;
	transition-property: background, color, border-color;
	transition-duration: $t-duration;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

	svg {
		margin-right: 10px;	
	}

	&.is-disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}

/* Btn Primary */

.btn--primary {
	border-color: $c-primary;
	background-color: $c-primary;

	&:focus,
	&:hover {
		color: $c-white;
		background-color: darken($c-primary, 8);
		border-color: darken($c-primary, 8);
	}

	&.is-warning,
	&.is-warning {
		border-color: $c-orange-f8;
		background-color: $c-orange-f8;

		&:focus,
		&:hover {
			background-color: darken($c-orange-f8, 8);
			border-color: darken($c-orange-f8, 8);
		}
	}
}

/* Btn Secondary */

.btn--secondary {
	border-color: $c-primary-light;
	color: $c-primary;

	&:focus,
	&:hover {
		color: $c-primary;
		border-color: $c-primary;
	}
}

/* Btn Tertiary */

.btn--tertiary {
	background-color: $c-white;
	border-color: $c-gray;
	color: $c-base;

	&:focus,
	&:hover {
		color: $c-base;
		background-color: $c-white;
		border-color: darken($c-gray, 8);
	}

	svg {
		color: $c-primary;
	}

	&.is-highlighted {
		border-color: $c-skyblue;

		&:focus,
		&:hover {
			border-color: $c-primary;
		}
	}

	&.is-active {
		border-color: $c-primary;
	}
	
	&.is-warning:focus,
	&.is-warning:hover {
		color: $c-orange-f8;
		border-color: $c-orange-f8;
		
		svg {
			color: inherit;
		}
	}
}

/* Btn Small  */

.btn--small {
	height: 35px;
}

/* Btn Square */

.btn--square {
	height: 42px;
	width: 42px;
	padding-left: 0;
	padding-right: 0;

	svg {
		margin-right: 0;
		margin-left: 0;
	}

	&.btn--small {
		width: 35px;
		height: 35px;
	}
}

/* Btn Block  */

.btn--block {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}
