/* ------------------------------------------------------------ *\
	Btn Close
\* ------------------------------------------------------------ */

.btn-close {
	position: relative;
	width: 36px;
	height: 36px;
	background: none;
	border: 0;

	&:after,
	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -50%;
		content: '';
		width: 100%;
		height: 1px;
		background: $c-gray-97;
		transition: background $t-duration;;
	}
	
	&:after {
		transform: rotate(-45deg);
	}
	
	&:before {
		transform: rotate(45deg);
	}

	&:hover:after,
	&:hover:before {
		background: $c-blue-00;
	}
}