/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	display: inline-block;
	padding: 9px 29px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	appearance: none;
	letter-spacing: 0; 
	color: $c-white;
	text-transform: uppercase; 
	border-width: 4px;
	border-style: solid;
	border-color: $c-primary;
	background-color: $c-primary; 
	font-size: 14px; 
	line-height: 1.2;
	font-family: $ff-titles; 
	border-radius: 11px; 
	transition: background $t-duration, color $t-duration, border $t-duration;

	&:hover {
		background-color: darken($c-primary, 8); 
		border-color: darken($c-primary, 8); 
	}

	&.is-disabled {
		opacity: .55; 
		pointer-events: none;
	}
}

/* Btn Secondary */

.btn--secondary {
	background-color: transparent;  
	border-color: $c-primary-light;
	color: $c-primary;

	&:hover {
		background-color: transparent;  
		border-color: $c-primary;
	}
}

/* Btn Tertiary */

.btn--tertiary {
	background-color: transparent; 
	border-color: $c-gray;
	color: $c-base;

	&:hover {
		background-color: transparent; 
		border-color: darken($c-gray, 8); 
	}
}

/*  Btn block  */

.btn--block {
	display: block;
	padding-left: 0;
	padding-right: 0;
}
