/* ------------------------------------------------------------ *\
	Btn Close
\* ------------------------------------------------------------ */

.btn-close {
	position: relative;
	width: 35px;
	height: 35px;
	background: none;
	border: 0;
	transition: border $t-duration;

	@include breakpoint-down(small-desktop) {
		width: 24px;
		height: 24px;
	}

	&:after,
	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -50%;
		content: '';
		width: 100%;
		height: 1px;
		background: $c-gray-97;
		transition: background $t-duration;
	}

	&:after {
		transform: rotate(-45deg);
	}

	&:before {
		transform: rotate(45deg);
	}

	&:hover:after,
	&:hover:before {
		background: $c-blue-00;
	}
}

/* Btn Close Alt */

.btn-close--alt {
	border: 3px solid $c-skyblue;
	border-radius: 11px;

	&:after,
	&:before {
		width: 18px;
		margin-left: -9px;
	}

	&:hover {
		border-color: $c-primary;
	}

	&:hover:after,
	&:hover:before {
		background: $c-blue-00;
	}
}
