/* ------------------------------------------------------------ *\
	Dataset Primary
\* ------------------------------------------------------------ */

.dataset-primary {
	height: calc(100vh - 136px); 

	.dataset__row {
		display: flex;
		justify-content: space-between;
		height: 100%; 
	}

	.dataset__left,
	.dataset__right {
		height: 100%; 
	}

	.dataset__left {
		position: relative;
		flex: 0 0 40.5%;
		padding-left: 46px;
	}

	.dataset__left-inner {
		height: 100%; 
		overflow-x: auto;
		background: $c-white;
	}

	.dataset__right {
		flex: 0 0 59.5%;
	}

	.form__heading {
		position: sticky;
		z-index: 1;
		top: 0;
		display: flex;
		justify-content: space-between;
		padding: 25px 0 10px;
		border-bottom: 1px solid $c-skyblue-bc;
		background: #fff;
		font-size: 12px;
		font-family: $ff-sans-serif;
	
	}
	
	.form__heading h5 {
		font-weight: 700;
		font-family: inherit;
	}
}

/* Dataset Primary Code */

.dataset-primary--code {
	.form .form__cta .btn:not(.btn--tertiary) {
		background-color: $c-purple-72;
		border-color: $c-purple-72;
	}

	.tabs .tabs__link span {
		border-color: $c-purple-72;
    	background-color: $c-purple-72;
	}

	.form .field:focus,
	.form .v-select.vs--open .vs__dropdown-toggle {
		border-color: $c-purple-72;		
	}
}

/* Dataset Primary Materials */

.dataset-primary--materials {
	.form .form__cta .btn:not(.btn--tertiary) {
		background-color: $c-orange-d2;
		border-color: $c-orange-d2;
	}

	.tabs .tabs__link span {
		border-color: $c-orange-d2;
    	background-color: $c-orange-d2;
	}

	.form .field:focus,
	.form .v-select.vs--open .vs__dropdown-toggle {
		border-color: $c-orange-d2;		
	}
}

/* Dataset Primary Protocols */

.dataset-primary--protocols {
	.form .form__cta .btn:not(.btn--tertiary) {
		background-color: $c-green-40;
		border-color: $c-green-40;
	}

	.tabs .tabs__link span {
		border-color: $c-green-40;
    	background-color: $c-green-40;
	}

	.form .field:focus,
	.form .v-select.vs--open .vs__dropdown-toggle {
		border-color: $c-green-40;		
	}
}