/* ------------------------------------------------------------ *\
	Dataset Title
\* ------------------------------------------------------------ */

.dataset-title {
	position: absolute;
	top: 19px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 22%; 
	font-size: 14px; 
	line-height: 1; 
	text-align: center;

	@include breakpoint-down(large-desktop) {
		width: 260px;
		left: 158px;
		transform: translateX(0);
		text-align: left;
	}
	
	h6 {
		max-width: 100%;
		font-weight: 700; 
		font-family: inherit; 
		text-underline-position: under;
		cursor: pointer;
	
		&:hover {
			text-decoration: underline dotted $c-primary;
		}
	}
	
	a {
		text-decoration: none; 
	}
	
	> ul {
		margin-bottom: 0; 
		list-style: none; 
		color: $c-skyblue-61;
	}
	
	> ul > li {
		position: relative; 
		display: inline-block; 
	
		@include breakpoint-down(mobile) {
			display: block; 
		}
	}
	
	> ul > li + li {
		padding-left: 13px; 
		margin-left: 13px; 
	
		@include breakpoint-down(tablet) {
			padding-left: 7px; 
			margin-left: 7px; 
		}
	
		@include breakpoint-down(mobile) {
			padding-left: 0; 
			margin-left: 0; 
		}
	
		&:before {
			content: '';
			position: absolute; 
			top: 50%; 
			left: 0; 
			width: 1px; 
			height: 14px; 
			margin-top: -7px; 
			background-color: $c-skyblue-bc; 
	
			@include breakpoint-down(mobile) {
				content: none;
			}
		}
	}

	.dataset__inner {
		position: relative;
		padding-left: 26px;
		padding-right: 36px;
		margin-bottom: 6px;

	}

	.dataset__inner > svg {
		position: absolute;
		left: 0;
		top: -4px;
		width: 20px;
		height: auto;
	}
	
	.dropdown-holder {
		position: absolute; 
		right: 0; 
		top: -5px;
	}
}
