.datasets-utils {
  position: absolute;
  bottom: 0;
  left: 0;
  list-style: none; 

  li {
    margin-top: 2px;
  }

  a {
    display: flex;
    width: 46px;
    height: 46px;
    align-items: center;
    justify-content: center;
    background-color: $c-skyblue;
    border-radius: 3px;
    transition: opacity 0.3s;

    &:hover {
      opacity: .7;
    }
  }
}
