/* ------------------------------------------------------------ *\
	Datasets Utils
\* ------------------------------------------------------------ */

.datasets-utils {
	position: absolute;
	bottom: 0;
	z-index: 100;
	right: 100%;
	list-style: none;

	li {
		margin-top: 2px;
	}

	.datasets__button {
		position: relative;
		border-radius: 3px 0 0 3px;
		transition: background 0.3s ease;
		
		.main--datasets-dataset & {
			background-color: $c-skyblue;
			
			&:hover,
			&.is-opened {
				background-color: $c-skyblue-ca;
			}
		}

		.main--datasets-code & {
			background-color: $c-purple-f1;

			&:hover,
			&.is-opened {
				background-color: $c-purple-e2;
			}
		}

		.main--datasets-material & {
			background-color: $c-orange-fff;
		}

		.main--datasets-protocol & {
			background-color: $c-green-f5;
		}
	}

	.datasets__button p {
		margin-bottom: 0;
		font-size: 14px;
		font-family: $ff-titles;
		font-weight: 500;
		color: $c-primary;
	}

	.datasets__button-inner {
		display: flex;
		width: 100%;
		align-items: center;
		border: none;
		background: none;
		cursor: pointer;
		color: $c-primary;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			border-radius: 3px 0 0 3px;
			width: 0;
			height: 100%;
			z-index: 11;
			background-color: $c-primary;
			transition: width 0.3s ease;
		}
	}

	.datasets__button-inner > span {
		position: relative;
		z-index: 10;
		display: flex;
		width: 54px;
		height: 54px;
		align-items: center;
		justify-content: center;
	}

	.datasets__button-overlay {
		position: absolute;
		top: 0;
		left: 54px;
		width: 0;
		height: 100%;
		border-radius: 3px;
		transition: width $t-duration;
		transition-timing-function: ease;
		background-color: inherit;
		overflow: hidden;
	}

	.datasets__button-overlay-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		width: 276px;
		padding-right: 8px;
		opacity: 0;
		visibility: hidden;
		transition: opacity $t-duration, visibility $t-duration;
		transition-timing-function: ease;
	}
	
	.datasets__button .btn--tertiary {
		padding-left: 15px;
		padding-right: 15px;
		border-color: $c-skyblue-ce;
		background-color: $c-white;

		&:focus,
		&:hover {
			border-color: $c-primary;
		}
	}

	// Is opened state
	.datasets__button.is-opened .datasets__button-overlay {
		width: 276px;
	}
	
	.datasets__button.is-opened .datasets__button-overlay-inner {
		opacity: 1;
		visibility: visible;
		transition-delay: 0.3s;
	}

	.datasets__button.is-opened .datasets__button-inner:before {
		width: 5px;
	}

	
}

/* Datasets Utils when tabs are collapsed */

.tabs.are-collapsed .datasets-utils {
	.datasets__button .datasets__button-extended {
		display: none;
	}
}

/* Datasets Utils when tabs are expanded */

.tabs.are-expanded .datasets-utils {
	.datasets__button {
		width: 190px;
	}
}