/* ------------------------------------------------------------ *\
  Document Status
\* ------------------------------------------------------------ */

.document-status {
  font-size: 12px; 
  line-height: 1.42; 
  color: $c-base-ligter;

  @include breakpoint-down(mobile-small) {
    font-size: 10px; 
  }
  
  ul {
    list-style: none;
  }
  
  li {
    display: inline-block; 
  }

  li + li {
    margin-left: 24px; 

    @include breakpoint-down(mobile) {
      margin-left: 12px; 
    }
  }

  span {
    color: $c-primary;
  }

  .ico--check {
    stroke: $c-green;
  }
}
