/* ------------------------------------------------------------ *\
	Documents
\* ------------------------------------------------------------ */

.documents {
	.documents__inner {
		padding: 40px 45px;
		background-color: $c-white;
		box-shadow: 0 2px 9px rgba($c-primary, 0.12);

		@include breakpoint-down(large-desktop) {
			padding-left: 25px;
			padding-right: 25px;
		}

		&:last-child {
			margin-bottom: auto;
		}
	}

	.document__title {
		position: relative;
		display: block;
		padding-left: 28px;
		font-weight: 700;
	}

	.document__title i {
		content: '';
		position: absolute;
		top: 2px;
		left: 0;
	}

	.document__status {
		&.is-validating {
			color: $c-primary;
		}

		&.is-complete {
			color: $c-green;
		}
	}

	.documents__actions > ul {
		display: flex;
		list-style: none;
	}

	.documents__actions > ul > li {
		flex-shrink: 0;
	}

	.documents__actions > ul > li + li {
		margin-left: 16px;
	}

	.vgt-inner-wrap {
		box-shadow: none;
	}

	table.vgt-table {
		border: none;
		font-size: 14px;
		line-height: 1.57;
		letter-spacing: 0;
	}

	table.vgt-table td {
		border-color: $c-gray;
		padding: 20px 15px 23px 0;
		vertical-align: top;
	}

	table.vgt-table tr:last-child td {
		border-color: $c-skyblue-bc;
	}

	table.vgt-table th {
		border-color: $c-skyblue-bc;
	}

	.vgt-table thead th {
		padding: 0 0 6px 0;
		background: none;
		font-size: 12px;
		color: $c-base-ligter;
	}

	.vgt-table thead th.sortable {
		color: $c-primary;
	}

	.vgt-table th.sortable button {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 8px;
		height: 12px;
		margin-left: 10px;

		&:after,
		&:before {
			left: 0;
			margin: 0;
		}

		&:after {
			top: 0;
		}

		&:before {
			bottom: 0;
		}
	}
}
