/* ------------------------------------------------------------ *\
	Documents Filters
\* ------------------------------------------------------------ */

.documents-filters {
	padding: 30px 45px;
	background: $c-bg-2;
	box-shadow: 0 2px 9px rgba($c-blue-00, 0.12);
}
