/* ------------------------------------------------------------ *\
	Dot
\* ------------------------------------------------------------ */

.dot {
	background-color: $c-red-ff;
	border: 2px solid $c-white;
	border-radius: 50%;
}
