/* ------------------------------------------------------------ *\
  Dropdown Holder
\* ------------------------------------------------------------ */

.dropdown-holder {
  position: relative;
  z-index: 100; 

  .dropdown__header {
    cursor: pointer;
  }
  
  .dropdown__account {
    display: flex; 
    align-items: center;
    font-weight: 500; 
    text-transform: none; 
    color: $c-primary;
    text-transform: uppercase; 
    text-decoration: none; 
    font-family: $ff-titles; 
    font-size: 14px; 
  }

  .dropdown__account span {
    position: relative; 
    flex-shrink: 0;
    width: 30px;
    height: 30px; 
    margin-left: 9px; 
    line-height: 30px; 
    text-align: center; 
    font-size: 20px; 
    color: $c-white;
    border-radius: 11px;
    background-color: $c-skyblue-bc; 

    &:after {
      content: '';
      position: absolute; 
      display: inline-block; 
      bottom: 2px;
      right: -3px;
      width: 9px;
      height: 9px; 
      background-position: center; 
      background-repeat: no-repeat;
      background-size: contain;  
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.317' height='9.317' viewBox='0 0 9.317 9.317'%3E%3Cpath id='Rectangle' d='M6.293,1.707A1,1,0,0,1,8,2.414V7A1,1,0,0,1,7,8H2.414a1,1,0,0,1-.707-1.707Z' transform='translate(4.658 -1.997) rotate(45)' fill='%23444'/%3E%3C/svg%3E%0A");
    }
  }

  .dropdown__body {
    display: none; 
    position: absolute; 
    top: 100%; 
    right: 0; 
    margin-top: 6px; 
    width: 248px; 
    border-radius: 11px;
    border: 3px solid $c-primary;
    background-color: $c-white; 
  }

  .dropdown__nav {
    font-weight: 500; 
    font-size: 16px; 
    font-family: $ff-titles; 
    list-style: none; 
    color: $c-primary
  }

  .dropdown__nav i {
    fill: $c-primary
  }

  .dropdown__nav li {
    margin: 20px; 
  }

  .dropdown__nav a {
    display: block; 
    text-decoration: none; 
  }

  .dropdown__button {
    display: inline-block; 
    position: relative; 
    flex-shrink: 0;
    width: 35px;
    height: 35px; 
    margin-left: 9px; 
    line-height: 30px; 
    text-align: center; 
    font-size: 20px; 
    color: $c-white;
    border-radius: 11px;
    border: 3px solid $c-skyblue;
    background-color: $c-white; 

    &:first-child {
      margin-left: 0; 
    }

    &:after {
      content: '';
      position: absolute; 
      display: inline-block; 
      top: 50%; 
      left: 50%; 
      width: 10px;
      height: 6px; 
      margin-top: -3px; 
      margin-left: -5px; 
      background-position: center; 
      background-repeat: no-repeat;
      background-size: contain;  
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.988' height='5.494' viewBox='0 0 9.988 5.494'%3E%3Cpath id='Path' d='M9.847.153A.5.5,0,0,0,9.14.14L4.994,4.287.847.14A.5.5,0,0,0,.14.847l4.5,4.5a.5.5,0,0,0,.707,0l4.5-4.5A.5.5,0,0,0,9.847.153Z' transform='translate(0)' fill='%23006ac9'/%3E%3C/svg%3E%0A");
    }
  }

  &.is-active .dropdown__button {
    border-color: $c-primary; 
  }

  &.is-active .dropdown__account span {
    background-color: $c-primary; 
  }

  &.is-active .dropdown__body {
    display: block; 
  }
}
