/* ------------------------------------------------------------ *\
	field-issue
\* ------------------------------------------------------------ */

.field-issue {
	margin-bottom: 12px;
	font-size: 12px;
	line-height: 20px;

	> ul {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		list-style: none;
	}

	> ul > li {
		&:first-child {
			padding-right: 15px;
		}

		&:nth-child(2) {
			flex-shrink: 0;
		}
	}

	.checkbox.checkbox--default label:before {
		border-color: #e9dad6;
	}
	
	.checkbox.checkbox--default input:checked + label {
		color: $c-base-lighter;
	}

	.checkbox.checkbox--default input:checked + label .ico--check {
		color: #8d2424;
	}

	.checkbox.checkbox--default label span {
		text-transform: capitalize;
		font-style: italic;
		font-size: 14px;
		color: #ff8b56;
	}
}