/* ------------------------------------------------------------ *\
	field-issue
\* ------------------------------------------------------------ */

.field-issue {
	margin-bottom: 12px;
	font-size: 12px;
	line-height: 22px;
	list-style: none;

	&,
	> li {
		margin-bottom: 12px;
		
		&:last-child {
			margin-bottom: 0;
		}
	}

	.checkbox.checkbox--default label:before {
		border-color: #e9dad6;
	}
	
	.checkbox.checkbox--default input:checked + label {
		color: $c-base-lighter;
	}

	.checkbox.checkbox--default input:checked + label .ico--check {
		color: #8d2424;
	}

	.checkbox.checkbox--default label span {
		text-transform: capitalize;
		font-style: italic;
		font-size: 14px;
		color: #ff8b56;
	}
}