/* ------------------------------------------------------------ *\
	Checkboxes
\* ------------------------------------------------------------ */

.radios,
.checkboxes {
	margin-top: 27px;

	&:first-child {
		margin-top: 0;
	}

	ul {
		list-style: none;
	}

	> ul > li + li {
		margin-top: 21px;
	}
}

/* Checkboxes Vertical */

.checkboxes--vertical {
	> ul {
		display: flex;
		margin: -8px -32px;
	}

	> ul > li {
		padding: 8px 32px;
	}

	> ul > li + li {
		margin-top: 0;
	}
}

/* Checkboxes Center */

.checkboxes--center {
	text-align: center;
}

/* ------------------------------------------------------------ *\
	Checkbox
\* ------------------------------------------------------------ */

.checkbox {
	p,
	label {
		margin-bottom: 0;
		position: relative;
		display: inline-block;
		text-align: left;
		color: $c-base-lighter;
	}

	p {
		padding-right: 15px;
	}

	label {
		padding-left: 32px;

		&:after,
		&:before {
			position: absolute;
			content: '';
		}
		
		&:before {
			left: 0;
		}

		&:empty {
			display: block;
			width: 22px;
			height: 22px;
			padding-left: 0;
		}
	}

	label > .ico--check {
		position: absolute;
		left: 0;
		top: 6px;
		left: 5px;
	}
}

/* checkbox--default */

.checkbox--default {
	label {
		&:before {
			top: 0;
			width: 22px;
			height: 22px;
			border-radius: 7px;
			border: 2px solid $c-skyblue-bc;
			background-color: $c-white;
		}
	}

	input:checked + label {
		color: $c-primary;

		&:before {
			border-color: $c-primary;
		}
	}
}

/* Checkbox Select */

.checkbox--select {
	display: flex;
	align-items: center;
	justify-self: unset;
	justify-content: space-between;

	.field {
		min-width: 100px;
		flex-shrink: 0;
	}

	.field .vs__dropdown-toggle {
		padding-right: 35px;
	}

	// Color code different options
	[data-title='Select'] {
		color: $c-placeholder;
	}

	[data-title='Yes'] {
		color: $c-green;
	}

	[data-title='No'] {
		color: $c-red-ff;
	}
}

/* Checkbox Toggle */

.checkbox--toggle {
	font-size: 12px;
	line-height: 1.38;
	font-weight: 700;

	label {
		padding-left: 46px;
		line-height: 20px;
	}

	label:after,
	label:before {
		transition: all 0.3s;
	}

	label:before {
		top: 0;
		width: 36px;
		height: 20px;
		border-radius: 10px;
		border-width: 2px;
		border: 2px solid $c-skyblue-bc;
		background-color: $c-white;
	}

	label:after {
		display: block;
		top: 3px;
		left: 4px;
		background-color: $c-skyblue-bc;
		background-image: none;
		width: 14px;
		height: 14px;
		border-radius: 50%;
	}

	input:checked + label:before {
		border-color: $c-primary;
		background-color: $c-primary;
	}

	input:checked + label:after {
		left: 18px;
		background-color: $c-white;
	}
}
