/* ------------------------------------------------------------ *\
	field-issue
\* ------------------------------------------------------------ */

.field-issue {
	margin-bottom: 12px;
	font-size: 12px;
	line-height: 20px;

	> ul {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		list-style: none;
	}

	> ul > li {
		&:first-child {
			padding-right: 15px;
		}

		&:nth-child(2) {
			flex-shrink: 0;
		}
	}

	.checkbox.checkbox--default label:before {
		border-color: #e9dad6;
	}
	
	.checkbox.checkbox--default input:checked + label {
		color: $c-base-lighter;
	}

	.checkbox.checkbox--default input:checked + label .ico--check {
		color: #8d2424;
	}

	.checkbox--toggle {
		width: 132px;
		text-align: right;
		font-weight: inherit;
	}

	.checkbox--toggle label {
		text-transform: capitalize;
		padding-right: 46px;
		padding-left: 0;

		&:after,
		&:before {
			left: auto;
		}

		&:before {
			right: 0;
		}

		&:after {
			right: 18px;
		}
	}

	.checkbox--toggle input:checked + label:after {
		left: auto;
		right: 4px;
	}

	.checkbox--toggle input:checked + label:after {
		background-color: $c-white;
	}

	.checkbox.checkbox--default label span {
		text-transform: capitalize;
		font-style: italic;
		font-size: 14px;
		color: #ff8b56;
	}
}

/* Field Issue Is Required */

.field-issue.is-required {
	.checkbox--toggle label {
		&:before {
			border-color: #8d2424;
		}

		&:after {
			background-color: #8d2424;
		}
	}

	.checkbox--toggle input:checked + label:before {
		border-color: #8d2424;
		background-color: #8d2424;
	}

	.checkbox label span {
		color: #8d2424 ;
	}
}

/* Field Issue Is Not Required */

.field-issue:not(.is-required) {
	.checkbox--toggle label {
		&:before {
			border-color: #ff8b56;
		}

		&:after {
			background-color: #ff8b56;
		}
	}

	.checkbox--toggle input:checked + label:before {
		border-color: #ff8b56;
		background-color: #ff8b56;
	}
}
