/* ------------------------------------------------------------ *\
	Field Datepicker
\* ------------------------------------------------------------ */

.mx-datepicker {
	width: 100%;
}

.mx-icon-calendar {
	right: 13px;
	color: $c-primary;
}

.field--datepicker {
	padding-right: 43px;
}
