/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form {
	margin: 0 auto; 

	/* Form Head */

	.form__head {
		margin-bottom: 20px; 
		text-align: center; 
		font-family: $ff-titles; 
	}

	.form__head h2 {
		margin-bottom: 10px; 
		text-transform: uppercase; 
	}

	.form__head h5 {
		font-weight: 700; 
		font-family: $ff-sans-serif; 
	}

	.form__head p {
		color: $c-primary;
		font-weight: 500; 
		font-size: 20px; 
		line-height: 1.2; 
	}

	/* Form Body */
	.form__body {
		margin-bottom: 20px; 
	}

	/* Form Statuses */

	.form__statuses {
		text-align: center; 
		margin-bottom: 47px; 
	}

	/* Form Status */

	.form__status {
		position: relative; 
		display: inline-block; 
		line-height: 1.06; 
		padding: 9px 23px; 
		border-radius: 17px;

		&:before {
			content: '';
			position: absolute; 
			width: 60px; 
			height: 60px;
			background-size: contain; 
		}
	}

	.form__status--error {
		color: $c-orange; 
		background-color: $c-orange-bg; 
		padding-left: 55px; 

		&:before {
			left: -7px; 
			top: -10px; 
			background: url(./../images/icons/ico-warning.svg) no-repeat center; 
		}
	}

	.form__status--success {
		color: $c-green; 
		background-color: rgba($c-green, 0.15); 
		padding-left: 50px; 

		&:before {
			left: -5px; 
			top: -8px; 
			background: url(./../images/icons/ico-success.svg) no-repeat center; 
			
		}
	}

	/* Form Label */

	.form__label {
		display: flex; 
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 7px; 
		font-weight: 700; 
		font-size: 12px; 
		line-height: 1.42; 
	}

	.form__label i {
		margin-right: 5px; 
	}

	.form__label em,
	.form__label span {
		font-weight: 400; 
		margin: 0 13px; 
	}

	.has-error .form__label {
		color: $c-orange;
	}

	.has-error .form__label i {
		fill: $c-orange;
	}

	.form__row {
		margin-bottom: 24px; 

		&:last-child {
			margin-bottom: 0; 
		}
	}

	/* Form Actions */

	.form__actions {
		margin-bottom: 28px; 

		&:last-child {
			margin-bottom: 0; 
		}
	}

	.form__actions ul {
		display: flex; 
		justify-content: center;
		list-style: none; 
		margin: 0 -12px; 
	}

	.form__actions ul li {
		padding: 0 12px; 
	}

	/* Form Message */

	.form__message {
		text-align: center; 
	}

	.form__message  p {
		margin-bottom: 20px; 
	}

	.form__helptext {
		padding: 10px 10px; 
	}

	/* Field */

	.field,
	.select select {
		width: 100%;
		height: 44px;
		padding: 0 10px;
		border: 3px solid $c-skyblue;
		border-radius: 6px;
		font-weight: inherit;
		transition: border $t-duration;

		@include input-placeholder {
			color: $c-placeholder;
		}
		
		&:focus {
			border-color: $c-primary-light;
		}
	}
	
	.field + .field {
		margin-top: 13px; 
	}

	/* Upload */

	.field--upload {
		padding: 3px; 
		height: auto; 
		border-radius: 16px;

		&:read-only {
			border-color: $c-skyblue;
			cursor: default;
		}
	}

	.field--upload span {
		width: 175px; 
		padding-left: 15px; 
		padding-right: 15px; 
	}

	.field--upload input {
		display: none; 
	}
	
	/* Select */
	.select {
		position: relative; 

		&:after {
			content: '';
			position: absolute; 
			top: 50%; 
			right: 16px; 
			width: 15px; 
			height: 8px; 
			background-position: center; 
			background-size: contain; 
			background-repeat: no-repeat; 
			margin-top: -4px; 
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='8.241' viewBox='0 0 15 8.241'%3E%3Cpath id='Path' d='M14.789.229A.752.752,0,0,0,13.727.211L7.5,6.43,1.273.211A.75.75,0,0,0,.211,1.271l6.758,6.75a.751.751,0,0,0,1.062,0l6.758-6.75A.749.749,0,0,0,14.789.229Z' fill='%23006ac9'/%3E%3C/svg%3E%0A");
			pointer-events: none;
		}
	}
	
	.select select {
		appearance: none;
		padding-right: 44px; 
		color: $c-placeholder;
	}

	.select option {
		color: $c-base
	}

	.select option[value=""][disabled] {
		color: $c-placeholder;
	}

	.select.is-selected select {
		color: inherit;
	}

	/* Checkbox and Radio */
	.radios ul,
	.checkboxes ul{
		list-style: none; 
	}

	.radios--center,
	.checkboxes--center {
		text-align: center; 
	}

	.checkbox input[type=checkbox],
	.radio input[type=radio] {
		display: none;
	}

	.checkbox label,
	.radio label {
		position: relative;
		padding-left: 32px;
		color: $c-base-ligter
	}

	.checkbox label:before,
	.checkbox label:after,
	.radio label:before,
	.radio label:after {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
	}

	.checkbox label:before,
	.radio label:before {
		width: 22px;
		height: 22px;
		border-radius: 7px;
		border: 1px solid $c-skyblue-bc;
	}

	.checkbox label:after,
	.radio label:after {
		display: none;
	}

	.checkbox input:checked + label,
	.radio input:checked + label {
		color: $c-base;
	}

	.checkbox input:checked + label:after,
	.radio input:checked + label:after {
		display: block;
	}

	.checkbox input:checked + label:before,
	.radio input:checked + label:before {
		border-color: $c-base;
	}

	.radio label:before,
	.radio label:after {
		border-radius: 100%;
	}

	.radio label:after,
	.checkbox label:after {
		left: 5px;
		width: 13px;
		height: 9px;
		background-size: contain; 
		background-position: center; 
		background-repeat: no-repeat; 
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.105' height='9.297' viewBox='0 0 13.105 9.297'%3E%3Cpath d='M0,3.49,3.394,6.883,10.277,0' transform='translate(1.414 1.414)' fill='none' stroke='%23444' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2'/%3E%3C/svg%3E%0A");
	}

	.radio label:after {
		border-radius: 100%;
	}
}

/* Form Sm */

.form--sm {
	padding: 55px 0; 
	max-width: 483px;

	/* Form Body */
	.form__body {
		padding: 0 42px; 
		margin: 38px 0 43px; 
	}
}

/* Form Large */

.form--lg {
	max-width: 744px;
	padding: 50px 0; 

	.form__head {
		max-width: 483px;
		margin-left: auto; 
		margin-right: auto; 
	}

	.form__body {
		margin: 50px 0 35px; 
	}

	.form__row {
		margin-bottom: 60px; 
	}
}

/* Form Search */

.form--search {
	position: relative; 

	.field {
		height: 42px; 
		border-color: $c-gray;
		padding-right: 50px; 
		border-radius: 13px;
		
		@include input-placeholder {
			color: $c-base-ligter;
		}
	}

	button {
		position: absolute; 
		top: 50%; 
		right: 14px; 
		width: 20px; 
		height: 20px; 
		color: $c-primary;
		border: none;
		margin-top: -10px; 
		background-color: transparent; 
	}

	button i {
		display: block; 
		fill: $c-primary;
	}
}

/* Form Profile */

.form--profile {
	.form__head {
		text-align: left; 
		margin-bottom: 20px; 
	}

	.form__head {
		text-align: left; 
		margin-bottom: 37px; 
	}

	.form__actions ul {
		justify-content: flex-start;
	}

	.form__statuses {
		text-align: left; 
	}
}

/* form--readonly */

.form--readonly {
	.field,
	.field select {
		border-color: $c-gray !important;
		cursor: default !important;
	}
}
