/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form {
	/* Form Head */

	.form__head {
		margin-bottom: 20px; 
		text-align: center; 
		font-family: $ff-titles; 
	}

	.form__head h2 {
		margin-bottom: 10px; 
		text-transform: uppercase; 
	}

	.form__head h5 {
		font-weight: 700; 
		font-family: $ff-sans-serif; 
	}

	.form__head p {
		color: $c-primary;
		font-weight: 500; 
		font-size: 20px; 
		line-height: 1.2; 

		@include breakpoint-down(mobile) {
			font-size: 18px; 
		}
	}

	/* Form Body */
	.form__body {
		margin-bottom: 20px; 

		&:last-child {
			margin-bottom: 0; 
		}
	}

	/* Form Statuses */

	.form__statuses {
		text-align: center; 
		margin-bottom: 47px; 
	}

	/* Form Status */

	.form__status {
		position: relative; 
		display: inline-block; 
		line-height: 1.06; 
		padding: 9px 23px; 
		border-radius: 17px;
		text-align: left; 

		&:before {
			content: '';
			position: absolute; 
			width: 60px; 
			height: 60px;
			top: 50%; 
			margin-top: -26px;
			background-size: contain; 
		}
	}

	.form__status--error {
		color: $c-orange; 
		background-color: $c-orange-bg; 
		padding-left: 55px; 

		&:before {
			left: -5px;
			background: url(./../images/icons/ico-warning.svg) no-repeat center; 
		}
	}

	.form__status--success {
		color: $c-green; 
		background-color: rgba($c-green, 0.15); 
		padding-left: 42px; 

		&:before {
			left: -14px;
			background: url(./../images/icons/ico-success.svg) no-repeat center; 
			
		}
	}

	/* Form Label */

	.form__label {
		display: block; 
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 7px; 
		font-weight: 700; 
		font-size: 12px; 
		line-height: 1.42; 
	}

	.form__label i {
		margin-right: 5px; 
	}

	.form__label em,
	.form__label span {
		font-weight: 400; 
		margin: 0 6px; 
	}

	.has-error .form__label {
		color: $c-orange;
	}

	.has-error .form__label i {
		fill: $c-orange;
	}

	.form__row {
		margin-bottom: 25px; 

		&:last-child {
			margin-bottom: 0; 
		}
	}

	/* Form Actions */

	.form__actions {
		margin-bottom: 29px; 

		@include breakpoint-down(tablet) {
			margin-bottom: 18px; 
		}

		&:last-child {
			margin-bottom: 0; 
		}
	}

	.form__actions ul {
		display: flex; 
		justify-content: center;
		flex-wrap: wrap;
		list-style: none; 
		margin: -5px -12px; 
	}

	.form__actions ul li {
		padding: 5px 12px; 
	}

	/* Form Message */

	.form__message {
		text-align: center; 
	}

	.form__message p {
		margin-bottom: 18px; 
		
		@include breakpoint-down(tablet) {
			margin-bottom: 10px; 
		}
	}

	/* Form Helptext */

	.form__helptext {
		margin-top: 10px; 
	}
	
	/* Form Clear */

	.form__clear {
		position: absolute; 
		top: 50%; 
		right: 12px; 
		z-index: 25;  
		background: transparent;
		display: inline-block; 
		border: 0 none;
		appearance: none;
		width: 30px;
		height: 30px;
		margin-top: -15px; 
		color: $c-primary-light;
		
		&:after,
		&:before {
			content: '';
			position: absolute;
			display: block;
			height: 2px;
			width: 100%;
			background: currentcolor;
			transition: top .2s .25s, opacity .2s .25s, transform .2s 0s;

		}
		
		&:before { top: 50%; transform: translateY(-50%) rotate(45deg); }
		&:after { top: 50%; transform: translateY(-50%) rotate(-45deg); }
	}

	/* Field */

	.field,
	.select select {
		width: 100%;
		height: 44px;
		padding: 0 12px;
		border: 3px solid $c-skyblue;
		border-radius: 6px;
		font-weight: inherit;
		transition: border $t-duration;
		background-color: $c-white; 

		@include input-placeholder {
			color: $c-placeholder;
		}
		
		&:focus {
			border-color: $c-primary-light;
		}
	}

	.field {
		&:read-only {
			border-color: $c-gray;
		}
	}
	
	.field + .field {
		margin-top: 13px; 
	}

	/* Upload */

	.field--upload {
		display: flex; 
		align-items: center;
		position: relative; 
		padding: 3px 54px 3px 3px; 
		height: auto; 
		border-radius: 16px;

		&:read-only {
			border-color: $c-skyblue;
			cursor: default;
		}
	}

	.field--upload span {
		width: 175px; 
		padding-left: 15px; 
		padding-right: 15px; 

		@include breakpoint-down(mobile) {
			width: 140px; 
		}
	}

	.field--upload input {
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
		opacity: 0; 
		z-index: 15; 
	}

	.field--upload .field__text {
		margin: 0 0 0 10px; 
		overflow: hidden; 
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	
	/* Select */
	.select {
		position: relative; 

		&:after {
			content: '';
			position: absolute; 
			top: 50%; 
			right: 16px; 
			width: 15px; 
			height: 8px; 
			background-position: center; 
			background-size: contain; 
			background-repeat: no-repeat; 
			margin-top: -4px; 
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='8.241' viewBox='0 0 15 8.241'%3E%3Cpath id='Path' d='M14.789.229A.752.752,0,0,0,13.727.211L7.5,6.43,1.273.211A.75.75,0,0,0,.211,1.271l6.758,6.75a.751.751,0,0,0,1.062,0l6.758-6.75A.749.749,0,0,0,14.789.229Z' fill='%23006ac9'/%3E%3C/svg%3E%0A");
			pointer-events: none;
		}
	}
	
	.select select {
		appearance: none;
		padding-right: 44px; 
		color: $c-placeholder;
	}

	.select option {
		color: $c-base
	}

	.select option[value=""][disabled] {
		color: $c-placeholder;
	}

	.select.is-selected select {
		color: inherit;
	}

	/* Checkbox and Radio */
	.radios ul,
	.checkboxes ul{
		list-style: none; 
	}

	.radios--center,
	.checkboxes--center {
		text-align: center; 
	}

	.checkbox input[type=checkbox],
	.radio input[type=radio] {
		display: none;
	}

	.checkbox label,
	.radio label {
		position: relative;
		padding-left: 32px;
		display: inline-block; 
		text-align: left; 
		color: $c-base-ligter
	}
	
	.radio label:before,
	.radio label:after,
	.checkbox label:before,
	.checkbox label:after {
		content: '';
		position: absolute;
		left: 0;
	}

	.radio label:before,
	.checkbox label:before {
		top: 0; 
	}

	.radio label:after,
	.checkbox label:after {
		top: 6px; 
		left: 5px;
		width: 13px;
		height: 9px;
		background-size: contain; 
		background-position: center; 
		background-repeat: no-repeat; 
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.105' height='9.297' viewBox='0 0 13.105 9.297'%3E%3Cpath d='M0,3.49,3.394,6.883,10.277,0' transform='translate(1.414 1.414)' fill='none' stroke='%23444' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2'/%3E%3C/svg%3E%0A");
	}

	.checkbox label:before,
	.radio label:before {
		width: 22px;
		height: 22px;
		border-radius: 7px;
		border: 1px solid $c-skyblue-bc;
	}

	.checkbox label:after,
	.radio label:after {
		display: none;
	}

	.checkbox input:checked + label,
	.radio input:checked + label {
		color: $c-base;
	}

	.checkbox input:checked + label:after,
	.radio input:checked + label:after {
		display: block;
	}

	.checkbox input:checked + label:before,
	.radio input:checked + label:before {
		border-color: $c-base;
	}

	.radio label:before,
	.radio label:after {
		border-radius: 100%;
	}
}

/* Form Sm */

.form--sm {
	padding: 52px 0; 
	max-width: 480px;
	margin: 0 auto; 

	@include breakpoint-down(tablet) {
		padding: 35px 0; 
	}

	@include breakpoint-down(mobile) {
		padding: 0; 
	}

	/* Form Body */
	.form__body {
		padding: 0 40px; 
		margin: 40px 0; 

		@include breakpoint-down(tablet) {
			margin: 20px 0 25px; 
			padding: 0 25px; 
		}

		@include breakpoint-down(mobile) {
			padding: 0; 
		}
	}
}

/* Form Large */

.form--lg {
	max-width: 744px;
	padding: 50px 0; 
	margin: 0 auto; 

	@include breakpoint-down(tablet) {
		padding: 35px 0; 
	}

	@include breakpoint-down(mobile) {
		padding: 0; 
	}

	.form__head {
		max-width: 483px;
		margin-left: auto; 
		margin-right: auto; 
	}

	.form__body {
		margin: 50px 0 35px; 
	}

	.form__row {
		margin-bottom: 67px; 
	}
}

/* Form Search */

.form--search {
	position: relative; 
	width: 255px; 

	.field {
		height: 42px; 
		border-color: $c-gray;
		padding-right: 41px; 
		padding-left: 15px; 
		border-radius: 13px;
		font-size: 14px; 

		
		@include input-placeholder {
			text-transform: uppercase; 
			color: $c-base-ligter;
		}
	}

	button {
		position: absolute; 
		top: 50%; 
		right: 14px; 
		width: 20px; 
		height: 20px; 
		color: $c-primary;
		border: none;
		margin-top: -10px; 
		background-color: transparent; 
	}

	button i {
		display: block; 
		fill: $c-primary;
	}
}

/* Form Profile */

.form--profile {
	.form__head {
		text-align: left; 
		margin-bottom: 20px; 
	}

	.form__head {
		text-align: left; 
		margin-bottom: 35px; 

		@include breakpoint-down(mobile) {
			margin-bottom: 20px; 
		}
	}

	.form__actions ul {
		justify-content: flex-start;
	}

	.form__statuses {
		text-align: left; 
	}
}

/* Form New Document */

.form--new-document {
	.form__label,
	.form__helptext {
		padding-left: 10px; 
		padding-right: 10px; 
	}
}
