/* ------------------------------------------------------------ *\
  Icons
\* ------------------------------------------------------------ */

.ico {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  fill: $c-base; 

  svg {
    display: block; 
    width: 100%; 
    height: 100%; 
  }

  path {
    fill: inherit;
  }
}

/* Ico User */

.ico--user {
  width: 20px; 
  height: 20px; 
}

/* Ico Email */

.ico--email {
  width: 20px; 
  height: 16px; 
}

/* Ico Password */

.ico--password {
  width: 16px; 
  height: 20px; 
}

/* Ico Organization */

.ico--organization {
  width: 20px;
  height: 20px; 
}

/* Ico Document */

.ico--document {
  width: 18px;
  height: 20px; 
}

/* Ico Documents */

.ico--documents { 
  width: 18px;
  height: 20px; 
}

/* Ico Document New */

.ico--document-new {
  width: 18px;
  height: 20px; 
}

/* Ico Search */

.ico--search {
  width: 20px; 
  height: 20px; 
}

/* Ico View List */

.ico--view-list {
  width: 24px; 
  height: 14px; 
}

/* Ico View Grid */

.ico--view-grid {
  width: 20px; 
  height: 20px; 
}

/* Ico Signout */

.ico--signout {
  width: 16px;
  height: 20px; 
}

/* Ico Check */

.ico--check {
  height: 9px;
  width: 13px;
  stroke: $c-base;

  path {
    fill: none;
    stroke: inherit;
  }
}

/* Ico Invite */

.ico--invite {
  width: 21px; 
  height: 20px; 
}

/* Ico Share */

.ico--share {
  width: 21px;
  height: 21px; 
}

/* Ico View */

.ico--view {
  width: 20px; 
  height: 21px; 
}

/* Ico Arrow Down */

.ico--arrow-down {
  width: 41px; 
  height: 64px; 
}

/* Ico Arrow Up */

.ico--arrow-up {
  width: 42px;
  height: 65px;
}

/* Ico Merge */

.ico--merge {
  width: 27px;
  height: 27px;
}

/* Ico Add */

.ico--add {
  width: 27px;
  height: 27px;
}
