/* ------------------------------------------------------------ *\
  Intro
\* ------------------------------------------------------------ */

.intro {
	height: 100%;
	overflow: auto;
	padding: 35px;
	font-family: $ff-titles;
	letter-spacing: 0;

	.intro__head {
		position: relative;
		margin-bottom: 95px;
		padding: 45px 230px 40px 50px;
		background-color: $c-skyblue-fa;
		border-radius: 15px;

		@include breakpoint-down(mobile) {
			margin-bottom: 45px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.intro__head h3 {
		width: 250px;
		margin-bottom: 0;
		color: $c-base;
		font-size: 23px;
		line-height: 1.22;
		text-transform: uppercase;
		position: relative;
		z-index: 1;
		text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	}

	.intro__head h3 span {
		width: 250px;
		display: block;
		color: $c-blue-19;
		text-transform: initial;
		text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	}

	.intro__head figure {
		position: absolute;
		width: 218px;
		right: 12px;
		top: 50%;
		transform: translateY(-50%);
	}

	.intro__head figure img {
		opacity: 0.85;
		position: relative;
		z-index: 1;
	}

	.intro__body {
		padding-left: 50px;
		padding-right: 35px;
	}

	.intro__body h6 {
		margin-bottom: 30px;
	}

	.intro__body p {
		position: relative;
	}

	.intro__about {
		margin-bottom: 35px;
		font-size: 18px;
		font-weight: 500;
	}

	.intro__tip {
		margin-bottom: 28px;
	}

	.ico--arrow_up,
	.ico--arrow_down {
		position: absolute;
	}

	.ico--add {
		margin: 0 2px 0 8px;
	}

	.ico--arrow_up {
		position: absolute;
		top: -34px;
		left: 100%;
		margin-left: -4px;
	}

	.ico--arrow_down {
		top: 24px;
		right: 100%;
		margin-right: 12px;
	}
}
