/* ------------------------------------------------------------ *\
  Main
\* ------------------------------------------------------------ */

.main {
  padding-top: 55px; 
  min-height: 100vh;

  .main__inner {
    display: flex; 
  }

  .main__left,
  .main__right {
    box-shadow: 0 2px 9px rgba($c-primary, 0.12);
    padding-left: 40px; 
    padding-right: 40px;
    padding-bottom: 40px;  
  }

  .main__left {
    width: 61.7%; 
    flex-shrink: 0;
    margin-right: 11px; 
    padding-top: 40px; 
    padding-bottom: 40px; 
    background-color: $c-white; 
  }

  .main__right {
    padding-top: 25px; 
    flex-grow: 1;
    background-color: $c-bg-2; 
  }
}

/* ------------------------------------------------------------ *\
  Main Documents
\* ------------------------------------------------------------ */

.main--documents {
  padding-top: 120px; 
}

/* ------------------------------------------------------------ *\
  Main Profile
\* ------------------------------------------------------------ */

.main--profile {
  padding-top: 120px; 
}

/* ------------------------------------------------------------ *\
  Main Dataset
\* ------------------------------------------------------------ */

.main--dataset {
  padding-top: 120px; 
}
