/* ------------------------------------------------------------ *\
  Main
\* ------------------------------------------------------------ */

.main {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding-top: 56px;
	min-height: 100vh;

	.main__inner {
		display: flex;

		@include breakpoint-down(mobile) {
			flex-wrap: wrap;
		}
	}

	.main__left,
	.main__right {
		box-shadow: 0 2px 9px rgba($c-primary, 0.12);
		padding-left: 40px;
		padding-right: 40px;

		@include breakpoint-down(tablet) {
			padding-left: 30px;
			padding-right: 30px;
			padding-bottom: 30px;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: $shell-gutter;
		}

		@include breakpoint-down(mobile-small) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.main__left {
		width: calc(62.5% - 10px);
		flex-shrink: 0;
		margin-right: 10px;
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: $c-white;

		@include breakpoint-down(mobile) {
			width: 100%;
			margin-right: 0;
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}

	.main__right {
		width: 37.5%;
		padding-top: 25px;
		padding-bottom: 25px;
		flex-grow: 1;
		background-color: $c-bg-2;

		@include breakpoint-down(mobile) {
			width: 100%;
		}
	}
}

/* Main No Rightside */

.main--no-rightside {
	.main__left {
		width: 100%;
		margin-right: 0;
	}
}

/* Main has Subheader */

.main--has-subheader {
	padding-top: 132px;

	@include breakpoint-down(tablet) {
		padding-top: 160px;
	}

	@include breakpoint-down(mobile) {
		padding-top: 170px;
	}
}

/* Main Tables */

.main--table {
	height: 100vh;

	.shell,
	.main__inner {
		height: 100%;
	}

	.main__inner {
		position: relative;
	}

	.main__left {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 0;
		display: flex;
		flex-flow: column;
	}
}

/* Main Datasets */

.main--datasets {
	height: 100vh;

	.shell,
	.main__inner {
		height: 100%;
	}

	.main__left,
	.main__right {
		height: 100%;
		padding: 0;
	}

	.main__left {
		position: relative;
		width: 634px;
		flex: 0 0 634px;
		margin-left: 46px;

		@include breakpoint-down(small-desktop) {
			width: 454px;
			flex: 0 0 454px;
		}
	}

	.main__right {
		width: calc(100% - 680px);
		flex: 0 0 calc(100% - 680px);

		@include breakpoint-down(small-desktop) {
			width: calc(100% - 500px);
			flex: 0 0 calc(100% - 500px);
		}
	}

	/* Dataset Primary Code */

	&-code {
		background-color: $c-purple-fa;

		.form .form__cta .btn:not(.btn--tertiary) {
			background-color: $c-purple-72;
			border-color: $c-purple-72;

			&:focus,
			&:hover {
				color: $c-white;
				background-color: darken($c-purple-72, 8);
				border-color: darken($c-purple-72, 8);
			}
		}

		.tabs .tabs__link span {
			border-color: $c-purple-72;
			background-color: $c-purple-72;
		}

		.field .field__input:focus,
		.field .vs__dropdown-toggle:focus,
		.v-select.vs--open .vs__dropdown-toggle {
			border-color: $c-purple-72;
		}

		.intro .intro__head h3 span {
			color: $c-purple-72;
		}
	}

	/* Dataset Primary Materials */

	&-materials {
		background-color: $c-orange-ff;

		.form .form__cta .btn:not(.btn--tertiary) {
			background-color: $c-orange-d2;
			border-color: $c-orange-d2;

			&:focus,
			&:hover {
				color: $c-white;
				background-color: darken($c-orange-d2, 8);
				border-color: darken($c-orange-d2, 8);
			}
		}

		.tabs .tabs__link span {
			border-color: $c-orange-d2;
			background-color: $c-orange-d2;
		}

		.field .field__input:focus,
		.field .vs__dropdown-toggle:focus,
		.v-select.vs--open .vs__dropdown-toggle {
			border-color: $c-orange-d2;
		}

		.intro .intro__head h3 span {
			color: $c-orange-d2;
		}
	}

	/* Dataset Primary Protocols */

	&-protocols {
		background-color: rgba($c-green-40, 0.08);

		.form .form__cta .btn:not(.btn--tertiary) {
			background-color: $c-green-40;
			border-color: $c-green-40;

			&:focus,
			&:hover {
				color: $c-white;
				background-color: darken($c-green-40, 8);
				border-color: darken($c-green-40, 8);
			}
		}

		.tabs .tabs__link span {
			border-color: $c-green-40;
			background-color: $c-green-40;
		}

		.field .field__input:focus,
		.field .vs__dropdown-toggle:focus,
		.v-select.vs--open .vs__dropdown-toggle {
			border-color: $c-green-40;

			.intro .intro__head h3 span {
				color: $c-green-40;
			}
		}
	}
}

/* Main Report */

.main--report {
	.main__left {
		padding-top: 25px;

		@include breakpoint-down(small-desktop) {
			margin-bottom: 15px;
		}
	}

	.main__right {
		padding: 30px 30px 75px 30px;
		background-color: $c-white;

		@include breakpoint-down(large-desktop) {
			padding: 45px 45px;
		}
		@include breakpoint-down(tablet) {
			padding-left: 30px;
			padding-right: 30px;
		}

		@include breakpoint-down(mobile-small) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
