/* ------------------------------------------------------------ *\
  Nav Account
\* ------------------------------------------------------------ */

.nav-account {
  color: $c-primary;
   
   > ul {
    display: flex; 
    align-items: center;
    margin: 0 -11px; 
   }
}
