/* ------------------------------------------------------------ *\
  Nav Account
\* ------------------------------------------------------------ */

.nav-account {
	color: $c-primary;

	> ul {
		display: flex; 
		align-items: center;
		margin: 0 -11px; 

		@include breakpoint-down(mobile) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	> ul > li {
		padding: 0 11px; 

		@include breakpoint-down(mobile) {
			width: 100%; 
		}
	}

	> ul > li .btn {
		width: 100%; 
	}

	.dropdown-holder .dropdown__body {
		width: 196px; 

		@include breakpoint-down(mobile) {
			position: static; 
			width: 100%; 
		}
	}
}

.nav-account.is-logged-in {
	> ul {
		@include breakpoint-down(mobile) {
			flex-direction: column-reverse;
		}
	}
}
