/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav {
	ul {
		display: flex; 
		align-items: center;
		margin: 0 -11px; 
	}

	ul > li {
		flex-shrink: 0;
		padding: 0 10px; 
	}

	.nav__link a {
		font-weight: 500; 
		text-transform: none; 
		color: $c-base-ligter;
		text-transform: uppercase; 
		text-decoration: none; 
		font-family: $ff-titles; 
		font-size: 14px; 
	}
}
