/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav {
	font-weight: 500; 
	color: $c-base-ligter;
	text-transform: uppercase; 
	font-family: $ff-titles; 
	font-size: 14px; 
	
	a {
		text-decoration: none; 
	}

	> ul {
		display: flex; 
		align-items: center;
		margin: 0 -11px; 
	}

	> ul > li {
		flex-shrink: 0;
		padding: 0 11px; 
	}
}
