/* ------------------------------------------------------------ *\
  PDF Holder
\* ------------------------------------------------------------ */

.pdf-holder {
	height: 100%;
	overflow: hidden;
	
	.pdfViewer {
		overflow: hidden;
	}

	#documentView {
		position: relative;
		height: 100%;
		width: calc(100% - 19px);
		overflow: hidden;
		padding-right: 19px;
	}

	#documentView\.viewSelection {
		cursor: pointer;
		display: table;
		width: 100%; /*Optional*/
		table-layout: fixed; /*Optional*/
		border-spacing: 0px; /*Optional*/
		height: 20px;
		overflow: hidden;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}

	#documentView\.viewSelection > div {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		position: relative;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
	}

	#documentView\.screen {
		height: 100%;
		overflow: scroll;
		font-family: Times, 'Times New Roman', serif;
		font-size: 14px;
	}
	
	#documentView\.screen::-webkit-scrollbar {
		display: none;
	}

	#documentView\.screen {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	#xml s {
		cursor: pointer;
		text-decoration: none;
		margin-right: 6px;
		line-height: 26px;
		padding: 3px;
		line-height: 30px;
		z-index: 10;
		color: black;
		background-color: white;
	}

	#xml * {
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Old versions of Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
	}

	#xml s.selected {
		cursor: pointer;
		border: 2px solid rgb(24, 77, 126);
		z-index: 100;
	}

	#xml s.hover {
		cursor: pointer;
		border: 2px dashed rgb(24, 77, 126);
		z-index: 110;
	}

	#documentView\.screen\.container {
		padding: 0;
	}


	#documentView #pdfViewer .page {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	#documentView #pdfViewer .textLayer {
		z-index: 1000;
	}

	#documentView #pdfViewer .contoursLayer {
		background-color: transparent;
		z-index: 3000;
	}

	#documentView #pdfViewer .annotationsLayer {
		background-color: transparent;
		z-index: 2000;
	}

	#documentView #pdfViewer .contoursLayer .contour {
		background-color: transparent;
		z-index: 3100;
		cursor: pointer;
	}

	#documentView #pdfViewer .contoursLayer .contour div {
		background-color: transparent;
	}

	#documentView #pdfViewer .contoursLayer .contour canvas {
		z-index: 3110;
	}

	#documentView #pdfViewer .contoursLayer .contour[corresp] canvas,
	#documentView #pdfViewer .contoursLayer .contour[datasets] canvas {
		z-index: 3115;
	}

	#documentView #pdfViewer .contoursLayer .contour.activeContourDataset,
	#documentView #pdfViewer .contoursLayer .contour.activeContourSentence,
	#documentView #pdfViewer .contoursLayer .contour.selected {
		z-index: 3200;
	}

	#documentView #pdfViewer .contoursLayer .contour.activeContourDataset canvas,
	#documentView #pdfViewer .contoursLayer .contour.activeContourSentence canvas,
	#documentView #pdfViewer .contoursLayer .contour.selected canvas {
		z-index: 3210;
	}

	#documentView #pdfViewer .contoursLayer .contour.hover canvas,
	#documentView #pdfViewer .contoursLayer .contour.hover canvas {
		z-index: 3215;
	}

	#documentView #pdfViewer .annotationsLayer s {
		z-index: 2100;
		cursor: pointer;
	}

	#documentView #pdfViewer .contoursLayer {
		position: absolute;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		line-height: 1;
		overflow: hidden;
	}

	#documentView #pdfViewer .annotationsLayer {
		position: absolute;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		line-height: 1;
		overflow: hidden;
	}

	#documentView #pdfViewer .annotationsLayer .hover {
		cursor: pointer;
	}

	#documentView #pdfViewer .annotationsLayer .selected {
		cursor: pointer;
	}

	#documentView #pdfViewer .annotationsLayer s[corresp],
	#documentView #pdfViewer .annotationsLayer s[id] {
		cursor: pointer;
		background-color: lightyellow;
	}

	#documentView #pdfViewer #sentencesLayer {
		position: absolute;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		line-height: 1;
		overflow: hidden;
	}

	#pdfViewerScrollMarkers {
		z-index: 4000;
		position: absolute;
		height: 100%;
		max-height: 100%;
		width: 19px;
		background-color: #F7F7F7;
	}

	#pdfViewerScrollMarkers.display-left {
		top: 0;
		left: 2px;
	}

	#pdfViewerScrollMarkers.display-right {
		top: 0;
		right: 2px;
	}

	#pdfViewerScrollMarkers span {
		-webkit-transition: all 0.8s ease;
		-moz-transition: all 0.8s ease;
		-ms-transition: all 0.8s ease;
		-o-transition: all 0.8s ease;
		transition: all 0.8s ease;
	}

	#pdfViewerScrollMarkers span.marker {
		/* markers */
		z-index: 4205;
		cursor: pointer;
		position: absolute;
		width: 12px;
	}

	#pdfViewerScrollMarkers span.cursor {
		/* markers */
		z-index: 4200;
		position: absolute;
		left: -2px;
		width: calc(100% + 4px);
		height: 40px;
		border: solid 2px #006AC9;
		background-color: #fff;
		border-radius: 0px;

		.main--datasets-code & {
			border-color: $c-purple-72;
		}

		.main--datasets-material & {
			border-color: $c-orange-d2;
		}

		.main--datasets-protocol & {
			border-color: $c-green-40;
		}
	}

	#documentView #pdf #pdfViewerInfos {
		position: absolute;
		background-color: white;
		border: 1px solid black;
		border-radius: 2px;
		padding: 5px;
		z-index: 9600;
	}

	#documentView #pdf #pdfViewerInfos.display-left {
		top: 30px;
		left: 40px;
	}

	#documentView #pdf #pdfViewerInfos.display-right {
		top: 30px;
		right: 40px;
	}

	#documentView #pdf #pdfViewerMessage {
		position: absolute;
		text-align: center;
		font-style: italic;
		background-color: white;
		border: 1px solid black;
		border-radius: 2px;
		padding: 5px;
		min-width: 120px;
		z-index: 9600;
	}

	#documentView #pdf #pdfViewerMessage.display-left {
		top: 60px;
		left: 40px;
	}

	#documentView #pdf #pdfViewerMessage.display-right {
		top: 60px;
		right: 40px;
	}

	/* -------------------------------------------------- */

	#user-navbar {
		display: none;
	}

	#user-lg {
		font-size: 1.5em;
	}

	#user-lg label {
		display: block;
		height: 100%;
		margin: 0px;
	}

	#navbar-lg ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		margin-left: 25px;
	}

	#navbar-lg li {
		vertical-align: middle;
		display: inline-block;
		font-size: 1.25em;
		margin-right: 15px;
		margin-bottom: 5px;
	}

	.row-margin {
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}

	i {
		margin-left: 4px;
		margin-right: 4px;
	}

	.btn-lite {
		border: none;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.row > *,
	.form-row > *,
	.custom-row > * {
		vertical-align: middle;
	}

	.bordered {
		border: 3px solid lightgray;
		border-radius: 5px;
	}

	.warning-color-dark {
		color: #ff8800;
	}

	.success-color-dark {
		color: #007e33;
	}

	.fa-save {
		font-size: 22px;
		padding-top: 1px;
		margin-left: 0px;
	}

	.fa-pen {
		font-size: 16px;
	}

	.fa-check {
		font-size: 16px;
	}

	#fixedMsgBottomRight {
		display: none;
		z-index: 100000;
		font-size: 1.25em;
		font-style: oblique;
		margin: 5px;
		padding: 5px;
		position: fixed;
		bottom: 0px;
		right: 0px;
	}

	.saving {
		display: auto;
		border: solid gray 2px;
		background-color: lightgray;
		color: black;
	}

	.saved {
		display: auto;
		border: solid green 2px;
		background-color: lightgreen;
		color: green;
	}

	.modal-backdrop {
		background-color: gray;
		opacity: 0.9;
		z-index: 9600;
	}

	#datasets-error-modal {
		z-index: 11000;
	}

	#datasets-error-modal > * {
		opacity: 1;
	}

	#datasets-error-modal .modal-header {
		color: white;
		background-color: #184d7e;
	}

	#datasets-error-modal .modal-header > #datasets-error-modal-label {
		font-size: 1.5rem;
	}

	#datasets-error-modal .modal-data {
		display: none;
	}

	#datasets-error-modal .modal-data > ul {
	}

	#datasets-error-modal .modal-data > ul > li {
		margin-bottom: 5px;
		font-size: 1rem;
	}

	#datasets-error-modal .modal-body {
		font-size: 1.25rem;
		color: #cc0000;
	}

	#datasets-confirm-modal {
		z-index: 11000;
	}

	#datasets-confirm-modal > * {
		opacity: 1;
	}

	#datasets-confirm-modal .modal-header {
		color: white;
		background-color: #184d7e;
	}

	#datasets-confirm-modal .modal-header > #datasets-confirm-modal-label {
		font-size: 1.5rem;
	}

	#datasets-confirm-modal .modal-data {
		display: none;
	}

	#datasets-confirm-modal .modal-body {
		color: #cc0000;
		font-size: 1.25rem;
	}

	.right {
		/*float:right;*/
		width: 150px;
		padding-left: 0px;
		padding-right: 0px;
		margin: 0px;
		position: absolute;
		top: 0px;
		right: 0px;
	}

	.modal {
		z-index: 9600;
	}
}

/* ------------------------------------------------------------ *\
	PDF Viewer
\* ------------------------------------------------------------ */

.pdf-holder {
	.textLayer {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		opacity: 0.2;
		line-height: 1.0;
	  }
	  
	  .textLayer > span {
		color: transparent;
		position: absolute;
		white-space: pre;
		cursor: text;
		-webkit-transform-origin: 0% 0%;
				transform-origin: 0% 0%;
	  }
	  
	  .textLayer .highlight {
		margin: -1px;
		padding: 1px;
	  
		background-color: rgb(180, 0, 170);
		border-radius: 4px;
	  }
	  
	  .textLayer .highlight.begin {
		border-radius: 4px 0px 0px 4px;
	  }
	  
	  .textLayer .highlight.end {
		border-radius: 0px 4px 4px 0px;
	  }
	  
	  .textLayer .highlight.middle {
		border-radius: 0px;
	  }
	  
	  .textLayer .highlight.selected {
		background-color: rgb(0, 100, 0);
	  }
	  
	  .textLayer ::-moz-selection { background: rgb(0,0,255); }
	  
	  .textLayer ::selection { background: rgb(0,0,255); }
	  
	  .textLayer .endOfContent {
		display: block;
		position: absolute;
		left: 0px;
		top: 100%;
		right: 0px;
		bottom: 0px;
		z-index: -1;
		cursor: default;
		-webkit-user-select: none;
		   -moz-user-select: none;
			-ms-user-select: none;
				user-select: none;
	  }
	  
	  .textLayer .endOfContent.active {
		top: 0px;
	  }
	  
	  
	  .annotationLayer section {
		position: absolute;
	  }
	  
	  .annotationLayer .linkAnnotation > a,
	  .annotationLayer .buttonWidgetAnnotation.pushButton > a {
		position: absolute;
		font-size: 1em;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	  }
	  
	  .annotationLayer .linkAnnotation > a:hover,
	  .annotationLayer .buttonWidgetAnnotation.pushButton > a:hover {
		opacity: 0.2;
		background: #ff0;
		box-shadow: 0px 2px 10px #ff0;
	  }
	  
	  .annotationLayer .textAnnotation img {
		position: absolute;
		cursor: pointer;
	  }
	  
	  .annotationLayer .textWidgetAnnotation input,
	  .annotationLayer .textWidgetAnnotation textarea,
	  .annotationLayer .choiceWidgetAnnotation select,
	  .annotationLayer .buttonWidgetAnnotation.checkBox input,
	  .annotationLayer .buttonWidgetAnnotation.radioButton input {
		background-color: rgba(0, 54, 255, 0.13);
		border: 1px solid transparent;
		box-sizing: border-box;
		font-size: 9px;
		height: 100%;
		margin: 0;
		padding: 0 3px;
		vertical-align: top;
		width: 100%;
	  }
	  
	  .annotationLayer .choiceWidgetAnnotation select option {
		padding: 0;
	  }
	  
	  .annotationLayer .buttonWidgetAnnotation.radioButton input {
		border-radius: 50%;
	  }
	  
	  .annotationLayer .textWidgetAnnotation textarea {
		font: message-box;
		font-size: 9px;
		resize: none;
	  }
	  
	  .annotationLayer .textWidgetAnnotation input[disabled],
	  .annotationLayer .textWidgetAnnotation textarea[disabled],
	  .annotationLayer .choiceWidgetAnnotation select[disabled],
	  .annotationLayer .buttonWidgetAnnotation.checkBox input[disabled],
	  .annotationLayer .buttonWidgetAnnotation.radioButton input[disabled] {
		background: none;
		border: 1px solid transparent;
		cursor: not-allowed;
	  }
	  
	  .annotationLayer .textWidgetAnnotation input:hover,
	  .annotationLayer .textWidgetAnnotation textarea:hover,
	  .annotationLayer .choiceWidgetAnnotation select:hover,
	  .annotationLayer .buttonWidgetAnnotation.checkBox input:hover,
	  .annotationLayer .buttonWidgetAnnotation.radioButton input:hover {
		border: 1px solid #000;
	  }
	  
	  .annotationLayer .textWidgetAnnotation input:focus,
	  .annotationLayer .textWidgetAnnotation textarea:focus,
	  .annotationLayer .choiceWidgetAnnotation select:focus {
		background: none;
		border: 1px solid transparent;
	  }
	  
	  .annotationLayer .buttonWidgetAnnotation.checkBox input:checked:before,
	  .annotationLayer .buttonWidgetAnnotation.checkBox input:checked:after,
	  .annotationLayer .buttonWidgetAnnotation.radioButton input:checked:before {
		background-color: #000;
		content: '';
		display: block;
		position: absolute;
	  }
	  
	  .annotationLayer .buttonWidgetAnnotation.checkBox input:checked:before,
	  .annotationLayer .buttonWidgetAnnotation.checkBox input:checked:after {
		height: 80%;
		left: 45%;
		width: 1px;
	  }
	  
	  .annotationLayer .buttonWidgetAnnotation.checkBox input:checked:before {
		-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
	  }
	  
	  .annotationLayer .buttonWidgetAnnotation.checkBox input:checked:after {
		-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
	  }
	  
	  .annotationLayer .buttonWidgetAnnotation.radioButton input:checked:before {
		border-radius: 50%;
		height: 50%;
		left: 30%;
		top: 20%;
		width: 50%;
	  }
	  
	  .annotationLayer .textWidgetAnnotation input.comb {
		font-family: monospace;
		padding-left: 2px;
		padding-right: 0;
	  }
	  
	  .annotationLayer .textWidgetAnnotation input.comb:focus {
		/*
		 * Letter spacing is placed on the right side of each character. Hence, the
		 * letter spacing of the last character may be placed outside the visible
		 * area, causing horizontal scrolling. We avoid this by extending the width
		 * when the element has focus and revert this when it loses focus.
		 */
		width: 115%;
	  }
	  
	  .annotationLayer .buttonWidgetAnnotation.checkBox input,
	  .annotationLayer .buttonWidgetAnnotation.radioButton input {
		-webkit-appearance: none;
		   -moz-appearance: none;
				appearance: none;
		padding: 0;
	  }
	  
	  .annotationLayer .popupWrapper {
		position: absolute;
		width: 20em;
	  }
	  
	  .annotationLayer .popup {
		position: absolute;
		z-index: 200;
		max-width: 20em;
		background-color: #FFFF99;
		box-shadow: 0px 2px 5px #888;
		border-radius: 2px;
		padding: 6px;
		margin-left: 5px;
		cursor: pointer;
		font: message-box;
		font-size: 9px;
		word-wrap: break-word;
	  }
	  
	  .annotationLayer .popup > * {
		font-size: 9px;
	  }
	  
	  .annotationLayer .popup h1 {
		display: inline-block;
	  }
	  
	  .annotationLayer .popup span {
		display: inline-block;
		margin-left: 5px;
	  }
	  
	  .annotationLayer .popup p {
		border-top: 1px solid #333;
		margin-top: 2px;
		padding-top: 2px;
	  }
	  
	  .annotationLayer .highlightAnnotation,
	  .annotationLayer .underlineAnnotation,
	  .annotationLayer .squigglyAnnotation,
	  .annotationLayer .strikeoutAnnotation,
	  .annotationLayer .freeTextAnnotation,
	  .annotationLayer .lineAnnotation svg line,
	  .annotationLayer .squareAnnotation svg rect,
	  .annotationLayer .circleAnnotation svg ellipse,
	  .annotationLayer .polylineAnnotation svg polyline,
	  .annotationLayer .polygonAnnotation svg polygon,
	  .annotationLayer .caretAnnotation,
	  .annotationLayer .inkAnnotation svg polyline,
	  .annotationLayer .stampAnnotation,
	  .annotationLayer .fileAttachmentAnnotation {
		cursor: pointer;
	  }
	  
	  .pdfViewer .canvasWrapper {
		overflow: hidden;
	  }
	  
	  .pdfViewer .page {
		direction: ltr;
		width: 816px;
		height: 1056px;
		margin: 1px auto -8px auto;
		position: relative;
		overflow: visible;
		border: 9px solid transparent;
		background-clip: content-box;
		background-color: white;
		box-shadow: 0 2px 9px rgba($c-primary, 0.12);
	  }
	  
	  .pdfViewer.removePageBorders .page {
		margin: 0px auto 10px auto;
		border: none;
	  }
	  
	  .pdfViewer.singlePageView {
		display: inline-block;
	  }
	  
	  .pdfViewer.singlePageView .page {
		margin: 0;
		border: none;
	  }
	  
	  .pdfViewer.scrollHorizontal, .pdfViewer.scrollWrapped, .spread {
		margin-left: 3.5px;
		margin-right: 3.5px;
		text-align: center;
	  }
	  
	  .pdfViewer.scrollHorizontal, .spread {
		white-space: nowrap;
	  }
	  
	  .pdfViewer.removePageBorders,
	  .pdfViewer.scrollHorizontal .spread,
	  .pdfViewer.scrollWrapped .spread {
		margin-left: 0;
		margin-right: 0;
	  }
	  
	  .spread .page,
	  .pdfViewer.scrollHorizontal .page,
	  .pdfViewer.scrollWrapped .page,
	  .pdfViewer.scrollHorizontal .spread,
	  .pdfViewer.scrollWrapped .spread {
		display: inline-block;
		vertical-align: middle;
	  }
	  
	  .spread .page,
	  .pdfViewer.scrollHorizontal .page,
	  .pdfViewer.scrollWrapped .page {
		margin-left: -3.5px;
		margin-right: -3.5px;
	  }
	  
	  .pdfViewer.removePageBorders .spread .page,
	  .pdfViewer.removePageBorders.scrollHorizontal .page,
	  .pdfViewer.removePageBorders.scrollWrapped .page {
		margin-left: 5px;
		margin-right: 5px;
	  }
	  
	  .pdfViewer .page canvas {
		margin: 0;
		display: block;
	  }
	  
	  .pdfViewer .page canvas[hidden] {
		display: none;
	  }
	  
	  .pdfViewer .page .loadingIcon {
		position: absolute;
		display: block;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: url('chrome-extension://oagiliojipalkkpmpllioebdpgekhmlj/vendors/pdf.js/build/components/images/loading-icon.gif') center no-repeat;
	  }
	  
	  .pdfPresentationMode .pdfViewer {
		margin-left: 0;
		margin-right: 0;
	  }
	  
	  .pdfPresentationMode .pdfViewer .page,
	  .pdfPresentationMode .pdfViewer .spread {
		display: block;
	  }
	  
	  .pdfPresentationMode .pdfViewer .page,
	  .pdfPresentationMode .pdfViewer.removePageBorders .page {
		margin-left: auto;
		margin-right: auto;
	  }
	  
	  .pdfPresentationMode:-ms-fullscreen .pdfViewer .page {
		margin-bottom: 100% !important;
	  }
	  
	  .pdfPresentationMode:-webkit-full-screen .pdfViewer .page {
		margin-bottom: 100%;
		border: 0;
	  }
	  
	  .pdfPresentationMode:-moz-full-screen .pdfViewer .page {
		margin-bottom: 100%;
		border: 0;
	  }
	  
	  .pdfPresentationMode:fullscreen .pdfViewer .page {
		margin-bottom: 100%;
		border: 0;
	  }
	  
}