/* ------------------------------------------------------------ *\
	Popup
\* ------------------------------------------------------------ */

.popup {
	.v--modal-box,
	.v--modal-box figure {
		border-radius: 10px;
	}

	.v--modal-box {
		padding: 27px 32px 32px;
		background-color: #f8fbfe;
		box-shadow: 0 2px 9px rgba($c-primary, 0.15);
	}

	.v--modal-box figure {
		margin-top: 35px;
	}

	.v--modal-overlay {
		z-index: 9888;
		background-color: transparent;
	}

	.btn-close {
		position: absolute;
		top: 17px;
		right: 21px;
	}
}
