/* ------------------------------------------------------------ *\
	Popup
\* ------------------------------------------------------------ */

.vm--container {
	z-index: 10001;
	padding: 20px 0;
}

.vm--overlay {
	background-color: rgba($c-white, 0.76);
}

.vm--modal,
.vm--modal figure {
	border-radius: 10px;
}

.vm--modal {
	padding: 30px;
	background-color: #f8fbfe;
	border-radius: 10px;
	box-shadow: 0 2px 9px rgba($c-primary, 0.3);
}

.vm--modal figure {
	margin-top: 35px;
}

.richtext-entry .richtext__body {
	max-height: none;
}

.btn-close {
	position: absolute;
	top: 17px;
	right: 21px;
}


/* Popup Confirm */

.popup--confirm {
	.popup__title {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		font-weight: 700;
		color: $c-orange-f8;
	}

	.popup__title i {
		flex-shrink: 0;
		margin-right: 12px;
	}
	
	.popup__body {
		margin-bottom: 25px;
		font-size: 18px;
		font-weight: 500;
		font-family: $ff-titles;
	}

	.popup__actions {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		list-style: none;
		margin: -5px;
	}

	.popup__actions > li {
		padding: 5px;
	}
}