/* ------------------------------------------------------------ *\
	Report Suggestions
\* ------------------------------------------------------------ */

.report-suggestions {
	.report__head {
		margin-bottom: 15px; 
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	.report__title {
		font-size: 20px; 
		text-transform: uppercase;
		color: $c-skyblue-61;
	}
	
	.report__body {
		position: relative; 
		padding: 20px 0; 
		font-size: 14px; 
		line-height: 1.57; 
		border-radius: 11px;
		background-color: $c-bg-2; 
		box-shadow: 0 2px 13px rgba($c-black, 0.07);
		
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: inherit;	
			border: 4px solid $c-white;
			pointer-events: none;
		}
	}
	
	.report__body h6 {
		margin-bottom: 3px; 
		font-size: 12px; 
		line-height: 1.17; 
		font-weight: 700; 
		font-family: inherit; 
	}
	
	.report__body a {
		word-break: break-all;
	}
	
	.report__body ul {
		position: relative;
		max-width: 510px;
		padding: 12px 25px;
		margin-bottom: 20px;
		list-style: none; 

		&:last-child {
			margin-bottom: 0;
		}

		&:before {
			content: '';
			position: absolute;
			z-index: 10;
			width: 8px; 
			top: 0; 
			bottom: 0; 
			left: 0; 
			border-radius: 0 8px 8px 0;
			position: absolute; 
			background-color: $c-blue-00; 
		}

		&:nth-child(even):before {
			background-color: $c-purple-72; 
		}
	}

	.report__body li + li {
		margin-top: 25px; 
	}
}
