/* ------------------------------------------------------------ *\
	Report Cta
\* ------------------------------------------------------------ */

.report-cta {
	position: relative; 
	background-color: $c-orange-bg; 
	border-radius: 15px;
	padding: 21px 10px 18px 143px;
	letter-spacing: -0.027em;

	a {
		text-decoration: none;
		color: $c-primary;
	}
	
	span {
		display: block; 
		color: $c-base;
	}

	figure {
		position: absolute;
		top: 50%;
		left: -23px;
		width: 153px;
		transform: translateY(-55%);
	}
}
