/* ------------------------------------------------------------ *\
	Report Title
\* ------------------------------------------------------------ */

.report-title {
	margin-bottom: 16px; 
	
	h1 {
		margin-bottom: 5px; 
	}

	p {
		display: flex;
		align-items: center;
		padding-left: 3px; 

	}

	i {
		margin-right: 7px; 
		fill: $c-placeholder;
	}
}
