/* ------------------------------------------------------------ *\
	Subheader
\* ------------------------------------------------------------ */

.subheader {
	padding: 18px 0; 
	
	.subheader__inner {
		display: flex; 
		align-items: center;
		justify-content: space-between;
	}

	.subheader__right {
		display: flex; 
		align-items: center;
	}
	.subheader__right > * + * {
		margin-left: 30px; 
	}
}
