/* ------------------------------------------------------------ *\
  Tabs
\* ------------------------------------------------------------ */

.tabs {
	position: relative;
	height: 100%;
	margin-left: auto;
	box-shadow: 0 2px 9px rgba($c-primary, 0.12);
	background-color: $c-white;

	.tabs__contents {
		height: 100%;
	}

	.tabs__content-bar {
		position: absolute;
		width: 8px;
		left: 0;
		top: 0;
		height: 100%;
		cursor: ew-resize;		
		z-index: 9999;
	}

	.tabs__links {
		position: absolute;
		top: 0;
		right: 100%;
		margin: 8px 0;
		font-size: 14px;
		font-family: $ff-titles;
		font-weight: 500;
		margin: -1px 0 -9px -32px;
		padding: 9px 0 9px 32px;
		overflow: hidden;
	}

	.tabs__links ul {
		counter-reset: tab;
		list-style: none;
	}
	
	.tabs__links ul li {
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.tabs__link .checkbox {
		position: absolute;
		right: calc(100% + 4px);
		top: 50%;
		transform: translateY(-50%);
	}

	.tabs__link i {
		display: block;
	}
	
	.tabs__link button {
		position: relative;
		border-radius: 15px 0 0 15px;
		background: none;
		border: none;
		font-size: 14px;
		font-weight: 500;
		font-family: $ff-titles;
	}

	.tabs__link.is-active button {
		background-color: $c-white !important;
		box-shadow: 0 1px 9px rgba($c-primary, 0.22);
	}

	.tabs__link.is-active span {
		background-color: transparent;
		border-color: transparent;
	}

	.tabs__link.is-completed span {
		border-color: rgba($c-blue-19, 0.39);
		background-color: transparent;

		&:before {
			content: none;
		}
	}

	.tabs__link button .dot {
		position: absolute;
		z-index: 10;
		top: 4px;
		left: 4px;
	}
}

/* Tabs When Expanded */

.tabs.are-expanded {
	.tabs__links ul li {
		margin-bottom: 8px;
	}
	
	.tabs__link button {
		display: flex;
		align-items: center;
		width: 190px;
		padding: 6px 6px 6px 12px;
		transition: padding $t-duration;
	}
	
	.tabs__link p {
		display: block;
		padding-left: 6px;
		margin-bottom: 0;
	}
	
	.tabs__link span {
		display: block;
	}

	.tabs__link.is-active button {
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.tabs__link:not(.is-completed) span {
		width: 8px;
		height: 8px;
		border-width: 2px;
		border-style: solid;
		border-color: $c-placeholder;
		border-radius: 2px;
		opacity: 0.5;
	}
}

/* Tabs When Collapsed */

.tabs.are-collapsed {
	.tabs__links ul li {
		margin-bottom: 2px;
	}

	.tabs__link button {
		padding: 8px 13px 8px 8px;
	}

	.tabs__link p {
		display: none;
	}

	.tabs__link span {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 30px;
		width: 30px;
		border-radius: 11px;
		border: 4px solid $c-blue-19;
		background-color: $c-blue-19;
		color: $c-white;
		counter-increment: tab;
		flex-shrink: 0;
		cursor: pointer;
	}

	.tabs__link.is-completed span {
		color: $c-blue-19;
		opacity: 0.44;
		background-color: transparent;
	}

	.tabs__link:not(.is-completed) span { 
		&:before {
			content: counter(tab);
		}
	}
}
