.tabs__links {
  position: absolute;
  top: 16px;
  right: 100%;

  li {
    list-style: none;
    margin-bottom: 18px;
    padding-right: 13px;

    &.is-active {
      position: relative;
      
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -9px;
        width: 51px;
        height: 46px;
        transform: translateY(-50%);
        border-radius: 15px 0 0 15px;
      }

      a:hover {
        background-color: #fff !important;
        color: $c-base;
      }
    }
    
    a {
      position: relative;
      z-index: 1;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      border-radius: 11px;
      color: #fff;
    }

    &:nth-child(20n + 1) {
      &:before,
      a {
        background-color: $c-purple-ba;
        color: $c-base;
      }
    }

    &:nth-child(20n + 2) {
      &:before,
      a {
        background-color: $c-blue-19;
      }
    }

    &:nth-child(20n + 3) {
      &:before,
      a {
        background-color: $c-green-4e;
      }
    }

    &:nth-child(20n + 4) {
      &:before,
      a {
        background-color: $c-yellow-f7;
        color: $c-base;
      }
    }

    &:nth-child(20n + 5) {
      &:before,
      a {
        background-color: $c-orange-ee;
        color: $c-base;
      }
    }

    &:nth-child(20n + 6) {
      &:before,
      a {
        background-color: $c-purple-88;
      }
    }

    &:nth-child(20n + 7) {
      &:before,
      a {
        background-color: $c-blue-7a;
        color: $c-base;
      }
    }
  }
}
