/* ------------------------------------------------------------ *\
	Widgets
\* ------------------------------------------------------------ */

.widgets {
	> ul {
		list-style: none;
	}

	> ul > li {
		margin-bottom: 53px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
