/* ------------------------------------------------------------ *\
	Widget Recent Actions
\* ------------------------------------------------------------ */

.widget-recent-actions {
	.widget__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;
	}

	.widget__head h6 {
		margin-bottom: 0;
		font-size: 12px;
		font-weight: 700;
	}

	.widget__head button {
		background: none;
		border: none;
		text-transform: uppercase;
		font-size: 14px;
		color: $c-primary;
		font-weight: 500;
		font-family: $ff-titles;
	}

	.widget__body {
		font-size: 12px;
		line-height: 2.34;
	}

	.widget__row {
		display: flex;
		margin: 0 -10px;
	}

	.widget__col {
		width: 33.3334%;
		padding: 0 10px;

		&:last-child {
			text-align: right;
		}
	}
}
