/* ------------------------------------------------------------ *\
	Widegt Associations
\* ------------------------------------------------------------ */

.widget-associations {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 32px;
	background-color: $c-white;
	box-shadow: 0 2px 13px rgba($c-black, 0.13);

	&:before {
		content: '';
		position: absolute;
		top: 8px;
		left: 0;
		bottom: 8px;
		width: 8px;
		border-radius: 0 8px 8px 0;
		background-color: $c-primary;
	}

	h6 {
		margin-bottom: 0;
		padding-right: 15px;
		font-weight: 700;
		font-size: 12px;
	}

	h6 strong {
		display: inline-block;
		vertical-align: middle;
		font-size: 28px;
		font-weight: 400;
	}

	a {
		flex-shrink: 0;
	}
}
