/* ------------------------------------------------------------ *\
	Button Link
\* ------------------------------------------------------------ */

.btn-link {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	font-family: $ff-titles;
	font-size: 100%;
	border: 0;
	padding: 0;
	background: none;
}
