/* ------------------------------------------------------------ *\
	Dataset References
\* ------------------------------------------------------------ */

.dataset-references {
	display: flex;
	align-items: center;
	
	> svg {
		margin-right: 8px;
	}

	> em {
		display: block;
		font-size: 12px;
		line-height: 1.25;
	}
}