/* ------------------------------------------------------------ *\
	Widget Box
\* ------------------------------------------------------------ */

.widget-box {
	position: relative;
	padding: 16px 32px;
	background-color: $c-white;
	box-shadow: 0 2px 13px rgba($c-black, 0.13);

	&:before {
		content: '';
		position: absolute;
		top: 8px;
		left: 0;
		bottom: 8px;
		width: 8px;
		border-radius: 0 8px 8px 0;
		background-color: $c-primary;
	}

	h6 {
		margin-bottom: 0;
		padding-right: 15px;
		font-weight: 700;
		font-size: 12px;
	}

	a {
		word-break: break-all;
	}

	.widget__content {
		max-width: 300px;
		margin-bottom: 20px;
	}
}
