//Variables
$font-size-base             : 16px;
$line-height-base           : 1.38;
$letter-spacing-base        : 0.05;
$font-weight-base           : 400;

$font-size-base-large        :18px;
$line-height-base-large      :1.39;

$font-size-base-small        :12px;
$line-height-base-small      :1.17;

$ff-sans-serif              : "Open Sans", Helvetica, Arial, sans-serif;
$ff-titles                  : 'Quicksand', Helvetica, Arial, sans-serif;
$ff-serif                   : Georgia, "Times New Roman", Times, serif;

$t-duration                 : 0.3s;
 
$shell-max-width            : 1680px;
$shell-gutter               : 15px;

$c-black                    : #000;
$c-white                    : #fff;
$c-base                     : #444444;
$c-base-ligter              : #737373;

$c-primary                  : #006AC9;
$c-primary-dark             : #00118F;
$c-primary-light            : #00BDFF;

$c-skyblue                  : #E2F1FF;

$c-gray                     : #EEE;
$c-gray-light               : #F5F5F5;

$c-bg                       : #F1F8FE;
$c-bg-2                     : #F8FBFE;

$c-placeholder              : #8CABCD;

$c-orange                    : #E36329;
$c-orange-bg                 : #FDF5E9;

$c-green                    : #66AE2E;

$responsive-ios             : 812px;

$breakpoints: (
	mobile-small: 374px,
	mobile-medium: 575px,
	mobile: 767px,
	admin-bar: 782px,
	tablet: 1023px,
	small-desktop: 1199px,
	large-desktop: 1399px
);
